<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=//noinspection JSUnresolvedVariable
    TITLE%></title>
    <%=//noinspection JSUnresolvedVariable
    STYLE%>
</head>
<body>
    <%=//noinspection JSUnresolvedVariable
    CODE%>
</body>
</html>